/*Fonts 

font-family: 'Roboto', sans-serif;
font-family: 'Roboto Thin', sans-serif;
font-family: 'Roboto Light', sans-serif;
font-family: 'Roboto Medium', sans-serif;
font-family: 'Roboto Black', sans-serif;

*/

*,
*::before,
*::after {
    box-sizing: border-box;
    ouline: 1px solid red;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    line-spacing: 1.25;
}
